<!-- Pagina principal -->

<%- include layouts/header.ejs %>	


    <div id="container">
        <div id="header">
            <h1>Projeto 1</h1>
        </div>
        <div id="wrapper">
            <div id="content">
                <p><strong>1. Página Inicial</strong></p>
                <h3>Exemplo 1 </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                   Quisque accumsan feugiat odio quis aliquet. Vivamus
                    pellentesque mollis velit accumsan commodo. Etiam suscipit nec lectus vehicula commodo. 
                    Morbi mollis ac lorem at venenatis. Nulla vitae felis molestie, finibus nisl non, pulvinar quam. 
                    Proin eleifend nisi elit, vitae venenatis ipsum iaculis sit amet. 
                    Mauris commodo tincidunt sem. Nullam dictum aliquam mauris sed blandit.
                </p>
                <h3>Exemplo 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                   Quisque accumsan feugiat odio quis aliquet. Vivamus
                    pellentesque mollis velit accumsan commodo. Etiam suscipit nec lectus vehicula commodo. 
                    Morbi mollis ac lorem at venenatis. Nulla vitae felis molestie, finibus nisl non, pulvinar quam. 
                    Proin eleifend nisi elit, vitae venenatis ipsum iaculis sit amet. 
                    Mauris commodo tincidunt sem. Nullam dictum aliquam mauris sed blandit.
                </p>
            </div>
        </div>
        <div id="navigation">
            <p><strong>2. Menu</strong></p>
            <h3>Links</h3>
            <ul>
                <li> <a href="/login">Publicar Resenha</a> </li>
                <li></li>
                <li> <a href="/local"> Listar publicações</a></li>
                <li></li>
                <li>Contato</li>
            </ul>
        </div>
        <div id="extra">
            <p><strong>3. Lançamentos</strong></p>
            <ul>
                <li>Resenha 1</li>
                <li>Resenha 2</li>
                <li>Resenha 3</li>
                <li>Resenha 4</li>
            </ul>
        </div>
        <div id="footer"><p>Roda pé</p>
        </div>
    </div>

<%- include layouts/footer.ejs %>
